#entire {
    position: fixed;
    width: 100%;
    background-image: url('Images/Clouds.jpg');
    height: 500px;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    padding: 12% 0 6%;
    font-size: 70px;
    font-weight: 200;
    color: whitesmoke;
    margin-top: 30%;
    margin: auto;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

h2 {
    font-size: 30px;
    font-weight: 200;
    color: whitesmoke;
    margin-top: 30%;
    margin: auto;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

#time{
    text-align: center;
}

form {
    text-align: center;
}

#query {
    width: 15%;
}

#searchBtn {
    margin-top: 10px;
    width: 70px;
    background-color: lightsteelblue;
    color: black;
    text-align: center;
}

.buttons {
    text-align: center;
    margin-bottom: 8%;
}

#timeBtn {
    height: 45px;
    width: 160px;
    position: center;
    cursor: pointer;
    border-radius: 4px; 
}

body {
    background: #19161c;
    margin: 0px;
    height: 100%;
    width: 100%;
}